@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: "Merriweather", "Georgia", serif;
  background-image: linear-gradient(to right, #ffffff, rgb(191, 192, 233));
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
